USE [TRACTOR_DATABASE]
GO
/****** Object:  Table [dbo].[BALANCE]    Script Date: 24-Mar-14 1:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BALANCE](
	[BALANCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[AMOUNT_PAID] [decimal](18, 2) NOT NULL,
	[PAID_DATE] [datetime] NOT NULL,
	[SALES_INVOICE_ID] [int] NOT NULL,
 CONSTRAINT [PK_BALANCE] PRIMARY KEY CLUSTERED 
(
	[BALANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[VILLAGE_ID] [int] NOT NULL,
	[CUSTOMER_NAME] [varchar](50) NOT NULL,
	[CONTACT_NO_1] [bigint] NOT NULL,
	[CONTACT_NO_2] [bigint] NULL,
	[CUSTOMER_ADDRESS] [varchar](max) NOT NULL,
	[CUSTOMER_EMAIL] [varchar](50) NULL,
	[STATUS_ID] [int] NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISTRICTS]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISTRICTS](
	[DISTRICT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DISTRICT_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DISTRICTS] PRIMARY KEY CLUSTERED 
(
	[DISTRICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVOICE](
	[INVOICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_NO] [varchar](50) NULL,
	[INVOICE_DATE] [datetime] NOT NULL,
	[INVOICE_DISCOUNT] [decimal](18, 2) NOT NULL,
	[INVOICE_VAT_PERCENT] [decimal](18, 2) NOT NULL,
	[INVOICE_GRANDTOTAL] [decimal](18, 2) NOT NULL,
	[EXPENDITURE_ON_SUBTOAL] [decimal](18, 2) NULL,
	[PURCHASE_TYPE] [int] NOT NULL,
 CONSTRAINT [PK_INVOICE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JOB_CARDS]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOB_CARDS](
	[JOBCARD_ID] [int] NOT NULL,
	[TRACTOR_ID] [int] NOT NULL,
	[SALES_INVOICE_ID] [int] NOT NULL,
	[IS_MOBILESERVICE] [bit] NULL,
	[IS_SERVICECLINIC] [bit] NULL,
	[IS_PAID] [bit] NULL,
	[IS_ACCEDENTAL] [bit] NULL,
	[SERIAL_NUMBER] [int] NULL,
	[ESTIMATED_COST] [decimal](18, 2) NULL,
	[REPEAT_FIR_DETAIL] [varchar](50) NULL,
	[SERVICE_COUPON_NO] [int] NULL,
	[ESTIMATED_DELIVERY] [datetime] NULL,
	[DATETIME_IN] [datetime] NULL,
	[SERVICE_STARTDATETIME] [datetime] NULL,
	[SERVICE_ENDDATETIME] [datetime] NULL,
	[TRACTOR_APPLICATION] [varchar](50) NULL,
 CONSTRAINT [PK_JOBCARDS] PRIMARY KEY CLUSTERED 
(
	[JOBCARD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JOB_COMPLAINTS]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOB_COMPLAINTS](
	[COMPLAINT_ID] [int] NOT NULL,
	[JOBCARD_ID] [int] NULL,
	[ACTUAL_COMPLAINT] [varchar](max) NULL,
	[ACTION_TAKEN] [varchar](max) NULL,
	[LABOUR_CHARGES] [decimal](18, 2) NULL,
 CONSTRAINT [PK_JOBCOMPLAINTS] PRIMARY KEY CLUSTERED 
(
	[COMPLAINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JOB_TRACTOR_CUSTOMERS]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOB_TRACTOR_CUSTOMERS](
	[JOBTRACTOR_ID] [int] NOT NULL,
	[JOBCARD_ID] [int] NULL,
	[ENGINE_NO] [varchar](50) NULL,
	[CHASSIS_NO] [varchar](50) NULL,
	[MODEL] [varchar](50) NULL,
	[HMR] [varchar](50) NULL,
	[CUSTOMER_NAME] [varchar](50) NULL,
	[CUSTOMER_ADDRESS] [varchar](50) NULL,
	[CONTACT_NO] [bigint] NULL,
	[DATEOF_INSTALLATION] [datetime] NULL,
 CONSTRAINT [PK_JOBTRACTORCUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[JOBTRACTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MASTER]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MASTER](
	[MASTER_ID] [int] IDENTITY(1,1) NOT NULL,
	[MASTER_VALUE] [varchar](50) NOT NULL,
	[MASTER_PARENT_ID] [int] NOT NULL,
 CONSTRAINT [PK_MASTER_TABLE] PRIMARY KEY CLUSTERED 
(
	[MASTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OLD_TRACTORS]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLD_TRACTORS](
	[OLDTRACTOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_NAME] [varchar](50) NOT NULL,
	[TRACTOR_MAKE] [varchar](50) NOT NULL,
	[TRACTOR_MODEL] [varchar](50) NOT NULL,
	[TRACTOR_REGISTRATION_NO] [varchar](50) NOT NULL,
	[TRACTOR_YEAR] [int] NOT NULL,
	[TRACTOR_RCBOOK_NO] [varchar](50) NULL,
	[TRACTOR_EMPLIMENT] [varchar](50) NULL,
	[PURCHASE_COST] [decimal](18, 2) NOT NULL,
	[SELLING_COST] [decimal](18, 2) NOT NULL,
	[TRACTOR_EXCHANGE_MODELID] [int] NULL,
 CONSTRAINT [PK_OLD_TRACTORS] PRIMARY KEY CLUSTERED 
(
	[OLDTRACTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALES_INVOICES]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALES_INVOICES](
	[SALES_INVOICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[TRACTOR_ID] [int] NULL,
	[INVOICE_DATE] [datetime] NULL,
	[INVOICE_DISCOUNT] [decimal](18, 2) NULL,
	[INVOICE_VAT_PERCENT] [decimal](18, 2) NULL,
	[INVOICE_GRANDTOTAL] [decimal](18, 2) NULL,
	[SELL_TYPE] [int] NOT NULL,
	[DC_NO] [varchar](50) NULL,
	[DC_DATE] [datetime] NULL,
	[IS_DC] [bit] NULL,
 CONSTRAINT [PK_SALES_INVOICES] PRIMARY KEY CLUSTERED 
(
	[SALES_INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SERVICE_CHARGES]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SERVICE_CHARGES](
	[SERVICE_ID] [int] NOT NULL,
	[JOBCARD_ID] [int] NULL,
	[SERVICE_TYPE_ID] [int] NULL,
	[REMARKS] [varchar](max) NULL,
	[AMOUNT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SERVICECHARGES] PRIMARY KEY CLUSTERED 
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPARE_PARTS]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPARE_PARTS](
	[SPARE_PART_ID] [int] IDENTITY(1,1) NOT NULL,
	[SPARE_PART_CODE] [varchar](50) NOT NULL,
	[SPARE_PART_DESCRIPTION] [varchar](100) NOT NULL,
	[SPARE_MINLEVEL] [int] NULL,
	[SPARE_BIN_NO] [varchar](50) NULL,
	[SPARE_STATUS] [int] NOT NULL,
 CONSTRAINT [PK_SPARE_PARTS] PRIMARY KEY CLUSTERED 
(
	[SPARE_PART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPARE_PURCHASES_SALES]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPARE_PURCHASES_SALES](
	[SPARE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SPARE_PART_ID] [int] NOT NULL,
	[INVOICE_ID] [int] NULL,
	[QUANTITY] [int] NOT NULL,
	[SUPPLIER_ID] [int] NOT NULL,
	[TRANSACTION_TYPE] [int] NOT NULL,
	[SUB_TOTAL] [decimal](18, 2) NOT NULL,
	[SALES_INVOICE_ID] [int] NULL,
 CONSTRAINT [PK_SPARE_PARCHASES] PRIMARY KEY CLUSTERED 
(
	[SPARE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SPARE_RATES]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPARE_RATES](
	[SPARE_RATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SPARE_PART_ID] [int] NOT NULL,
	[SUPPLIER_ID] [int] NOT NULL,
	[SPARE_RATE_VALUE] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SPARE_RATES] PRIMARY KEY CLUSTERED 
(
	[SPARE_RATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[SUPPLIER_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPLIER_NAME] [varchar](50) NOT NULL,
	[SUPPLIER_CONTACT_NO] [bigint] NOT NULL,
	[SUPPLIER_ADDRESS] [varchar](max) NOT NULL,
	[SUPPLIER_TYPE] [int] NOT NULL,
	[SUPPLIER_STATUS] [int] NOT NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TALUKS]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TALUKS](
	[TALUK_ID] [int] IDENTITY(1,1) NOT NULL,
	[DISTRICT_ID] [int] NOT NULL,
	[TALUK_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TALUKS] PRIMARY KEY CLUSTERED 
(
	[TALUK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRACTOR_MODELS]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRACTOR_MODELS](
	[TRACTOR_MODEL_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPLIER_ID] [int] NOT NULL,
	[TRACTOR_MODEL_NAME] [varchar](50) NOT NULL,
	[TRACTOR_SHOWROOMRATE] [decimal](18, 2) NOT NULL,
	[TRACTOR_IMAGE] [varbinary](max) NULL,
	[TRACTOR_STATUS] [int] NOT NULL,
 CONSTRAINT [PK_TRACTOR_MODELS] PRIMARY KEY CLUSTERED 
(
	[TRACTOR_MODEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRACTOR_PARTS]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRACTOR_PARTS](
	[TRACTOR_PART_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRACTOR_ID] [int] NOT NULL,
	[PART_MAKER] [varchar](50) NOT NULL,
	[PART_SIZE] [varchar](50) NOT NULL,
	[PART_SERIAL_NO] [varchar](50) NOT NULL,
	[PART_REMARKS] [varchar](100) NULL,
	[PART_TYPE] [int] NOT NULL,
 CONSTRAINT [PK_TRACTOR_PARTS] PRIMARY KEY CLUSTERED 
(
	[TRACTOR_PART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRACTOR_PURCHASES]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRACTOR_PURCHASES](
	[TRACTOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_ID] [int] NOT NULL,
	[TRACTOR_MODEL_ID] [int] NOT NULL,
	[TRACTOR_ENGINE_NO] [varchar](50) NOT NULL,
	[TRACTOR_CHASSIS_NO] [varchar](50) NOT NULL,
	[TRACTOR_SPECIFICATION] [varchar](100) NOT NULL,
	[TRACTOR_FIP_NO] [varchar](50) NULL,
	[TRACTOR_ALTERNATE_MAKER] [varchar](50) NULL,
	[TRACTOR_SELFSTARTMAKER] [varchar](50) NULL,
	[TRACTOR_PDI_HOURS] [decimal](18, 2) NULL,
	[TRACTOR_SERVICE_BOOK_NO] [varchar](50) NULL,
	[TRACTOR_PURCHASE_RATE] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TRACTOR_PURCHASES] PRIMARY KEY CLUSTERED 
(
	[TRACTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VILLAGES]    Script Date: 24-Mar-14 1:59:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VILLAGES](
	[VILLAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[VILLAGE_NAME] [varchar](50) NOT NULL,
	[TALUK_ID] [int] NOT NULL,
 CONSTRAINT [PK_VILLAGES] PRIMARY KEY CLUSTERED 
(
	[VILLAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BALANCE]  WITH CHECK ADD  CONSTRAINT [FK_BALANCE_SALES_INVOICES] FOREIGN KEY([SALES_INVOICE_ID])
REFERENCES [dbo].[SALES_INVOICES] ([SALES_INVOICE_ID])
GO
ALTER TABLE [dbo].[BALANCE] CHECK CONSTRAINT [FK_BALANCE_SALES_INVOICES]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_MASTER] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[MASTER] ([MASTER_ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_MASTER]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_VILLAGES] FOREIGN KEY([VILLAGE_ID])
REFERENCES [dbo].[VILLAGES] ([VILLAGE_ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_VILLAGES]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_MASTER] FOREIGN KEY([PURCHASE_TYPE])
REFERENCES [dbo].[MASTER] ([MASTER_ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_MASTER]
GO
ALTER TABLE [dbo].[JOB_CARDS]  WITH CHECK ADD  CONSTRAINT [FK_JOB_CARDS_SALES_INVOICES] FOREIGN KEY([SALES_INVOICE_ID])
REFERENCES [dbo].[SALES_INVOICES] ([SALES_INVOICE_ID])
GO
ALTER TABLE [dbo].[JOB_CARDS] CHECK CONSTRAINT [FK_JOB_CARDS_SALES_INVOICES]
GO
ALTER TABLE [dbo].[JOB_CARDS]  WITH CHECK ADD  CONSTRAINT [FK_JOB_CARDS_TRACTOR_PURCHASES] FOREIGN KEY([TRACTOR_ID])
REFERENCES [dbo].[TRACTOR_PURCHASES] ([TRACTOR_ID])
GO
ALTER TABLE [dbo].[JOB_CARDS] CHECK CONSTRAINT [FK_JOB_CARDS_TRACTOR_PURCHASES]
GO
ALTER TABLE [dbo].[JOB_COMPLAINTS]  WITH CHECK ADD  CONSTRAINT [FK_JOBCOMPLAINTS_JOBCARDS] FOREIGN KEY([JOBCARD_ID])
REFERENCES [dbo].[JOB_CARDS] ([JOBCARD_ID])
GO
ALTER TABLE [dbo].[JOB_COMPLAINTS] CHECK CONSTRAINT [FK_JOBCOMPLAINTS_JOBCARDS]
GO
ALTER TABLE [dbo].[JOB_TRACTOR_CUSTOMERS]  WITH CHECK ADD  CONSTRAINT [FK_JOBTRACTORCUSTOMERS_JOBCARDS] FOREIGN KEY([JOBCARD_ID])
REFERENCES [dbo].[JOB_CARDS] ([JOBCARD_ID])
GO
ALTER TABLE [dbo].[JOB_TRACTOR_CUSTOMERS] CHECK CONSTRAINT [FK_JOBTRACTORCUSTOMERS_JOBCARDS]
GO
ALTER TABLE [dbo].[OLD_TRACTORS]  WITH CHECK ADD  CONSTRAINT [FK_OLD_TRACTORS_TRACTOR_MODELS] FOREIGN KEY([TRACTOR_EXCHANGE_MODELID])
REFERENCES [dbo].[TRACTOR_MODELS] ([TRACTOR_MODEL_ID])
GO
ALTER TABLE [dbo].[OLD_TRACTORS] CHECK CONSTRAINT [FK_OLD_TRACTORS_TRACTOR_MODELS]
GO
ALTER TABLE [dbo].[SALES_INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_SALES_INVOICES_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[SALES_INVOICES] CHECK CONSTRAINT [FK_SALES_INVOICES_CUSTOMER]
GO
ALTER TABLE [dbo].[SALES_INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_SALES_INVOICES_MASTER] FOREIGN KEY([SELL_TYPE])
REFERENCES [dbo].[MASTER] ([MASTER_ID])
GO
ALTER TABLE [dbo].[SALES_INVOICES] CHECK CONSTRAINT [FK_SALES_INVOICES_MASTER]
GO
ALTER TABLE [dbo].[SALES_INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_SALES_INVOICES_TRACTOR_PURCHASES] FOREIGN KEY([TRACTOR_ID])
REFERENCES [dbo].[TRACTOR_PURCHASES] ([TRACTOR_ID])
GO
ALTER TABLE [dbo].[SALES_INVOICES] CHECK CONSTRAINT [FK_SALES_INVOICES_TRACTOR_PURCHASES]
GO
ALTER TABLE [dbo].[SERVICE_CHARGES]  WITH CHECK ADD  CONSTRAINT [FK_SERVICECHARGES_JOBCARDS] FOREIGN KEY([JOBCARD_ID])
REFERENCES [dbo].[JOB_CARDS] ([JOBCARD_ID])
GO
ALTER TABLE [dbo].[SERVICE_CHARGES] CHECK CONSTRAINT [FK_SERVICECHARGES_JOBCARDS]
GO
ALTER TABLE [dbo].[SPARE_PARTS]  WITH CHECK ADD  CONSTRAINT [FK_SPARE_PARTS_MASTER] FOREIGN KEY([SPARE_STATUS])
REFERENCES [dbo].[MASTER] ([MASTER_ID])
GO
ALTER TABLE [dbo].[SPARE_PARTS] CHECK CONSTRAINT [FK_SPARE_PARTS_MASTER]
GO
ALTER TABLE [dbo].[SPARE_PURCHASES_SALES]  WITH CHECK ADD  CONSTRAINT [FK_SPARE_PARCHASES_SALES_MASTER] FOREIGN KEY([TRANSACTION_TYPE])
REFERENCES [dbo].[MASTER] ([MASTER_ID])
GO
ALTER TABLE [dbo].[SPARE_PURCHASES_SALES] CHECK CONSTRAINT [FK_SPARE_PARCHASES_SALES_MASTER]
GO
ALTER TABLE [dbo].[SPARE_PURCHASES_SALES]  WITH CHECK ADD  CONSTRAINT [FK_SPARE_PARCHASES_SALES_SPARE_PARTS] FOREIGN KEY([SPARE_PART_ID])
REFERENCES [dbo].[SPARE_PARTS] ([SPARE_PART_ID])
GO
ALTER TABLE [dbo].[SPARE_PURCHASES_SALES] CHECK CONSTRAINT [FK_SPARE_PARCHASES_SALES_SPARE_PARTS]
GO
ALTER TABLE [dbo].[SPARE_PURCHASES_SALES]  WITH CHECK ADD  CONSTRAINT [FK_SPARE_PARCHASES_SALES_SUPPLIER] FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[SPARE_PURCHASES_SALES] CHECK CONSTRAINT [FK_SPARE_PARCHASES_SALES_SUPPLIER]
GO
ALTER TABLE [dbo].[SPARE_PURCHASES_SALES]  WITH CHECK ADD  CONSTRAINT [FK_SPARE_PURCHASES_SALES_INVOICE] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[SPARE_PURCHASES_SALES] CHECK CONSTRAINT [FK_SPARE_PURCHASES_SALES_INVOICE]
GO
ALTER TABLE [dbo].[SPARE_PURCHASES_SALES]  WITH CHECK ADD  CONSTRAINT [FK_SPARE_PURCHASES_SALES_SALES_INVOICES] FOREIGN KEY([SALES_INVOICE_ID])
REFERENCES [dbo].[SALES_INVOICES] ([SALES_INVOICE_ID])
GO
ALTER TABLE [dbo].[SPARE_PURCHASES_SALES] CHECK CONSTRAINT [FK_SPARE_PURCHASES_SALES_SALES_INVOICES]
GO
ALTER TABLE [dbo].[SPARE_RATES]  WITH CHECK ADD  CONSTRAINT [FK_SPARE_RATES_SPARE_PARTS] FOREIGN KEY([SPARE_PART_ID])
REFERENCES [dbo].[SPARE_PARTS] ([SPARE_PART_ID])
GO
ALTER TABLE [dbo].[SPARE_RATES] CHECK CONSTRAINT [FK_SPARE_RATES_SPARE_PARTS]
GO
ALTER TABLE [dbo].[SPARE_RATES]  WITH CHECK ADD  CONSTRAINT [FK_SPARE_RATES_SUPPLIER] FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[SPARE_RATES] CHECK CONSTRAINT [FK_SPARE_RATES_SUPPLIER]
GO
ALTER TABLE [dbo].[SUPPLIER]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIER_STATUS_MASTER] FOREIGN KEY([SUPPLIER_STATUS])
REFERENCES [dbo].[MASTER] ([MASTER_ID])
GO
ALTER TABLE [dbo].[SUPPLIER] CHECK CONSTRAINT [FK_SUPPLIER_STATUS_MASTER]
GO
ALTER TABLE [dbo].[SUPPLIER]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIER_TYPE_MASTER] FOREIGN KEY([SUPPLIER_TYPE])
REFERENCES [dbo].[MASTER] ([MASTER_ID])
GO
ALTER TABLE [dbo].[SUPPLIER] CHECK CONSTRAINT [FK_SUPPLIER_TYPE_MASTER]
GO
ALTER TABLE [dbo].[TALUKS]  WITH CHECK ADD  CONSTRAINT [FK_TALUKS_DISTRICTS] FOREIGN KEY([DISTRICT_ID])
REFERENCES [dbo].[DISTRICTS] ([DISTRICT_ID])
GO
ALTER TABLE [dbo].[TALUKS] CHECK CONSTRAINT [FK_TALUKS_DISTRICTS]
GO
ALTER TABLE [dbo].[TRACTOR_MODELS]  WITH CHECK ADD  CONSTRAINT [FK_TRACTOR_MODELS_MASTER] FOREIGN KEY([TRACTOR_STATUS])
REFERENCES [dbo].[MASTER] ([MASTER_ID])
GO
ALTER TABLE [dbo].[TRACTOR_MODELS] CHECK CONSTRAINT [FK_TRACTOR_MODELS_MASTER]
GO
ALTER TABLE [dbo].[TRACTOR_MODELS]  WITH CHECK ADD  CONSTRAINT [FK_TRACTOR_MODELS_SUPPLIER] FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[TRACTOR_MODELS] CHECK CONSTRAINT [FK_TRACTOR_MODELS_SUPPLIER]
GO
ALTER TABLE [dbo].[TRACTOR_PARTS]  WITH CHECK ADD  CONSTRAINT [FK_TRACTOR_PARTS_MASTER] FOREIGN KEY([PART_TYPE])
REFERENCES [dbo].[MASTER] ([MASTER_ID])
GO
ALTER TABLE [dbo].[TRACTOR_PARTS] CHECK CONSTRAINT [FK_TRACTOR_PARTS_MASTER]
GO
ALTER TABLE [dbo].[TRACTOR_PARTS]  WITH CHECK ADD  CONSTRAINT [FK_TRACTOR_PARTS_TRACTOR_PURCHASES] FOREIGN KEY([TRACTOR_ID])
REFERENCES [dbo].[TRACTOR_PURCHASES] ([TRACTOR_ID])
GO
ALTER TABLE [dbo].[TRACTOR_PARTS] CHECK CONSTRAINT [FK_TRACTOR_PARTS_TRACTOR_PURCHASES]
GO
ALTER TABLE [dbo].[TRACTOR_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_TRACTOR_PURCHASES_INVOICE] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[TRACTOR_PURCHASES] CHECK CONSTRAINT [FK_TRACTOR_PURCHASES_INVOICE]
GO
ALTER TABLE [dbo].[TRACTOR_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_TRACTOR_PURCHASES_TRACTOR_MODELS] FOREIGN KEY([TRACTOR_MODEL_ID])
REFERENCES [dbo].[TRACTOR_MODELS] ([TRACTOR_MODEL_ID])
GO
ALTER TABLE [dbo].[TRACTOR_PURCHASES] CHECK CONSTRAINT [FK_TRACTOR_PURCHASES_TRACTOR_MODELS]
GO
ALTER TABLE [dbo].[VILLAGES]  WITH CHECK ADD  CONSTRAINT [FK_VILLAGES_TALUKS] FOREIGN KEY([TALUK_ID])
REFERENCES [dbo].[TALUKS] ([TALUK_ID])
GO
ALTER TABLE [dbo].[VILLAGES] CHECK CONSTRAINT [FK_VILLAGES_TALUKS]
GO
