<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="UserType" value="true" />
    <add key="VatForSpares" value="5.5" />
    <add key="VatForOils" value="14.5" />
    <add key="VatForTractor" value="5.5" />
    <add key="ReportServerURL" value="http://a4amxml05023:8045/ReportServer1"/>
    <add key="ReportFolderPath" value="ReportServer1"/>
    <add key="ReportUserID" value="axm1014371"/>
    <add key="ReportPwd" value="JAN@2014"/>
    <add key="ReportDomain" value="BLRAMEXODC.COM"/>
  </appSettings>
</configuration>