<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBaseLayer.Properties.Settings.TRACTOR_DATABASEConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=SONALIKA_BGK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>